Bonjour tout le monde,

J’espère que notre petite formation Git a pu répondre à vos questions et vous a permis de mieux appréhender Git et ses différentes notions.
Voici les liste des différents outils et supports que j’ai pu vous citer lors de notre point :

-	Git cheat sheet : https://ndpsoftware.com/git-cheatsheet.html
-	Escape a Git mess : http://justinhileman.info/article/git-pretty/git-pretty.png
-	Sourcetree a Git GUI : https://www.sourcetreeapp.com/
-	Cmder Console windows améliorée : http://cmder.net/


Je reste bien entendu à votre disposition pour toute question.
